<?xml version="1.0"?>
<!--
/**
 * Product Video Tab
 *
 * @category   Tekglide
 * @package    Tekglide_VideoTab
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Tekglide_VideoTab" setup_version="1.0.7">
        <sequence>
            <module name="Magento_Review"/>
        </sequence>
    </module>
</config>
